
.my-5 a{
  padding-left: 150px;
  
}

.navbar a{
  color:#F5168D
}
.my-5 a {
  color: #F5168D;

}
.socials a {
  padding-left: 15px;
}
.nav-item a{
cursor: pointer;
text-decoration: none;
color: #F5168D;
}